body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

button {
    appearance: none;
}

canvas {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

.top-controls {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;


}

.top-controls ul {
    display: flex;

}

.top-controls li {
    list-style: none;
}

.top-controls .control-btn {
   background: white;
   border: none;
   padding: 10px;
   margin-left: 20px;

}