body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

button {
    appearance: none;
}


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}



body > canvas {
    height: 100%;
    width: 100%;
}

canvas {
    display: block;
    overflow: hidden;
}

.top-controls {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    margin-left: auto;

}

.top-controls ul {
    display: flex;
    margin-left: auto;
}

.top-controls .control-btn {
   background: white;
   border: none;
   padding: 10px;
   margin-left: 20px;

}

.pallet {
    position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

}

.pallet ul {
    display: flex;
    flex-direction: column;
}

.pallet li {
    margin-bottom: 8px;
}

.pallet-btn {
    padding: 10px;
    border: 2px solid #222;
}

.pallet-btn.selected {
   background: #B0663E;

}
